#parceiros{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: white;
    padding: 30px;
}

#parceiros h1{
    font-size: 3vw;
    margin-bottom: 30px;
    font-weight: bolder;
}

#parceiros-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
}

#parceiros-images{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    max-width: 80vw;
}

#parceiros-images img{
    margin: 5px;
}